<main>
	
<aside>

</aside>

<section>

<div class="create_ques">


<%= form_tag url_for(controller: 'home',action: 'ques',method: :post) do %>

	<%= text_area_tag :content %>
	<%= submit_tag 'Ask' %>

<% end %>

     
</div>

<div id="questions">

	<%  @questions.each do |q|  %>

	<div class="question">

	<div class="ques">	
		

		<span class="userImage">
				<img src="">
		</span>

		<span class="right">
			
			
			<%= q.content %>
			<%= q.user.email%>

			<% q.answers.each do |a| %>
				<li><%= a.answer %></li>
			<% end %>

			<%= form_tag url_for(controller: 'home',action: 'ans',method: :post) do %>
			<%= text_area_tag :answer %>
			<%= q.question_upvotes.count %>
			<%= hidden_field_tag :ques,q.id %>
			<%= submit_tag 'submit' %>
			<% end %>

			<% upvote = QuestionUpvote.upvote q.id,current_user.id %>
			<% if upvote.count==0 %>
				<%= link_to 'Upvote', {:controller => "home", :action => "upvote",:q_id => q.id },method: :post %>
			<% else %>
			<%= link_to 'DownVote', {:controller => "home", :action => "upvote",:upvote => upvote.first.id },method: :post %>
			<% end %>
			
		</span>
		
	</div>



	</div>
		<% end %>
</div>

</section>



</main>

